.books-list {
  list-style-type: decimal;
  width: auto;
  margin: auto;
}

ol.books-grid {
  width: auto;
  margin: auto;
}

ol.books-list ol {
  float: right;
  width: 200px;
  flex-wrap: wrap;
  margin-top: 60px;
  padding-bottom: 10px;
}
